body{
    background: url(FONFO.jpg;)
}
body {
    background-color: #17181b;
}
h1{
    text-align: center;
    color:white
}
h4{
    font-size: 16px;
    font-weight: 700;
}
header{
    padding: 20px 0 0 0;
    background: #1d2124;
    text-align: center;
}

@media (min-width : 750px) {
    header {
        text-align: left;
    }
}

.borrar-valores-morales {
    background-color: #fbaf32;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(71, 71, 71)
    font-weight: bold;
}

ul{
    list-style: none;
}

.hero {
    background-image: url(../img/);
    height: 521px
}
.encabezado{
    margin: 30px 0;
    color: white;
}
.submenu{
    position: relative;
}
.submenu #valores-morales{
    display: none;
}
.submenu:hover Hoja {
    display: block
    color: white
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background: #17181b;
    padding: 20px;
}
.vacio {
    padding: 10px;
    background-color: #fbaf32;
    text-align: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.button{
    background-color: #fbaf32;
    color: rgb(255, 255, 255);
}
.contenido-hero{
    margin-top: 80px;
    color: white;
}
.contenido-hero form {
    position: relative;
    margin-bottom: 0;
}
.contenido-hero form . :-moz-submit-invalid {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    display: block;
    text-indent: -9999px;
    width: 50px;
}

.barra{
    padding: 20px 0;
    background: #fbaf32;
    background: -webkit-linear-gradient(left, #b75a00 0%,#ad5400 100% );
}
.barra p{
    margin: 0;
    color: white;
}
.icono{
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 60px;
    background-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
@media (min-width: 750px) {
    .icono{
        margin-bottom: 0;
    }
}
.icono1{
    background-image: url(.../img/.icono);
}
